*{
    margin: 0;
    padding: 0;
}


/* Mobile */
@media only screen and (min-width: 100px) {

    h2, h3, h4, h5, h6 {
        font-family: "Staatliches", "Helvetica", sans-serif;
        color: #111;
        letter-spacing: 2px;
    }

    p {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        color: #111;
    }

    .section {
        min-height: 88vh;
        padding-top: 8vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section h2 {
        font-size: 3.5rem;
    }

    .flex-column-around {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .flex-row-around {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .section a {
        text-decoration: none;
        color: #111;
    }

    form {
        text-align: center;
        margin: 2rem 0;
    }

    .btn-primary {
        width: 50vw;
        height: 6vh;
        background-color: #1c1c1c;
        color: #fcfcfc;
        font-size: 1.5rem;
        border-radius: 15px;
        cursor: pointer;
        font-family: "Raleway", sans-serif;
        transition: all 0.5s ease;
        outline: none;
    }

    .btn-primary:hover {
        background-color: #000000;
    }

    /* Navigation - Mobile */
    header {
        width: 100%;
        min-height: 8vh;
        display: flex;
        justify-content: space-evenly;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 500;
    }

    .menu {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease;         
    }

    .menu-btn {
        cursor: pointer;
    }
   
    .burger-1, .burger-2, .burger-3 {
        width: 30px;
        height: 2px;
        background-color: #111;
        margin: 5px 0;
        transition: all 0.5s ease;
    }

    .logo{
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        object-fit: cover;
        object-position: center;
        width: 50%;
        cursor: pointer;
    }

    .checkout {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .checkout img {
        object-fit: cover;
        object-position: center;
        width: 50%;
    }

    .checkout-counter {
        background-color: #e60000;
        margin-top: 1.25vh;
        width: 6vw;
        height: 6vw;
        border-radius: 25px;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        font-family: "Raleway", sans-serif;
    }

    .nav-list {
        min-height: 92vh;
        width: 100vw;
        position: absolute;
        top: 8vh;
        left: -100vw;
        font-family: "Staatliches", "Helvetica", sans-serif;
        font-size: 2.5rem;
        background-color: #ffffff;
        transition: all 0.5s ease;
    }

    .nav-list-active {
        left: 0;
    }

    .nav-section {
        min-height: 40vh;
        margin-top: 10vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        list-style: none;
    }

    .nav-list a{
        color: #111;
        text-decoration: none;
        display: block;
        transition: all 0.5s ease;
    }

    .nav-list a:hover{
        text-decoration: underline;
    }

    .nav-list li {
        opacity: 0;
        
    }

    @keyframes navSlide {
        from {
            opacity: 0;
            transform: translateX(-50px);
        }

        to {
            opacity: 1;
            transform: translateX(0px);
        }        
    }

    .menu-btn-active .burger-1 {
        transform: rotate(45deg) translate(5px, 5px);
        background-color: #e60000;
    }

    .menu-btn-active .burger-2 {
        opacity: 0;
    }

    .menu-btn-active .burger-3 {
        transform: rotate(-45deg) translate(5px, -5px);
        background-color: #e60000;
    } 
    
    /* Landing Page - Index - Mobile */
    .index-landing-page {
        background-image: url(/img/landing-page-background.jpg);
        min-height: 170vh;
        background-position: center;
        background-size: contain;
    }

    .landing-left {
        min-height: 50vh;
        margin-top: 10vh;
        margin-bottom: 15vh;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .landing-left h2 {
        font-size: 3.5rem;
    }

    .landing-left p {
        font-size: 2rem;
    }

    .landing-left img {
        width: 20%;
        object-fit: contain;
        object-position: center;
        opacity: .7;
        margin: 5vh auto 0 auto;
    }

    .landing-left form {
        display: none;
    }

    .landing-right {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .landing-right img {
        height: 75vh;
        width: 100%;
        object-fit: contain;
    }

    /* Shopping Section - Index - Mobile */
    .deck-section {
        padding-top: 0;
        padding: 2rem 0;
    }
    
    .deck-container {
        width: 90%;
    }

    .deck {
        text-align: center;
        padding: 2rem 0;
    }

    .deck-container img {
        width: 100%;
        object-position: center;
        object-fit: contain;
    }

    .deck p {
        padding: .25rem 0;
    }

    .deck-section h4 {
        font-size: 2rem;
        width: 90%;
        text-align: right;
        margin: 2rem auto 0 auto;
    }

    .deck-section h4 a:hover {
        text-decoration: underline;
    }

    /* Squad Section - Mobile */
    .squad-section {
        flex-wrap: wrap;
        min-height: 20vh;
    }

    .section-banner {
        min-height: 30vh;
        width: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
    }

    .section-banner h2 {
        color: #ffffff;
        text-shadow: 2px 2px 10px #111;
    }


    .squad-banner {
        background-image: url(/img/team/mobile-banner.jpg);
    }

    .squad{
        min-height: 100vw;
        width: 100vw;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .squad h3 {
        color: #ffffff;
        font-size: 2.5rem;
        text-shadow: 2px 2px 10px #111;
    }

    .chance {
        background-image: url(/img/team/chance-morse.jpg);
    }

    .jake {
        background-image: url(/img/team/jake-keith.jpg);
    }

    .cole {
        background-image: url(/img/team/cole-scheck.jpg);
    }

    .noah {
        background-image: url(/img/team/noah-benson.jpg);
    }

    /* Footer Section - Mobile */
    footer {
        padding: 2rem 0 1rem 0;
        text-align: center;
        min-height: 25vh;
    }

    footer h4 {
        font-size: 1.75rem;
    }

    footer h4 a {
        text-decoration: none;
        color: #111;
    }

    footer h4:hover {
        text-decoration: underline;
    }

    .socials {
        width: 70%;
        margin: 0 auto;
    }

    .socials a {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .socials img {
        object-fit: cover;
        object-position: center;
        width: 50%;
    }

    footer p {
        font-size: 1.25rem;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) {

    /* Navigation - Tablet */
    .logo img {
        width: 40%;
    }

    .checkout img {
        width: 30%;
    }

    /* Landing Page - Index - Tablet */
    .landing-left {
        min-height: 40vh;
        margin-top: 15vh;
        margin-bottom: 20vh;
        width: 50%;
    }

    .landing-left img {
        width: 15%;
        margin: 25vh auto 0 auto;
    }  
    
    /* Shopping Section - Index - Tablet */
    .deck-container {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }

    .product {
        width: 45%;
    }

    /* Squad Section - Tablet */
    .squad-banner {
        background-image: url(/img/team/squad-desktop.jpg);
        min-height: 20vh;
        background-position: top;
    }

    .squad{
        min-height: 50vw;
        width: 50%;
    }

    /* Footer Section - Tablet */
    .socials {
        width: 40%;
        margin: 0 auto;
    }
   
}


/* Desktop */
@media only screen and (min-width: 1025px) {
    .btn-primary {
        width: 15vw;
    }

    .section h2 {
        font-size: 4rem;
    }

    p {
        font-size: 1.25rem;
    }

    /* Navigation - Desktop */
    .menu-btn {
        display: none;
    }

    .menu {
        display: none;        
    }

    .logo{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        object-fit: cover;
        object-position: center;
        width: 50%;
    }

    .checkout {
        width: 20%;
    }

    .checkout img {
        width: 10%;
    }

    .checkout-counter {
        width: 1.5vw;
        height: 1.5vw;
    }

    .nav-list {
        min-height: 8vh;
        width: 80%;
        position: static;
        font-size: 1.75rem;        
    }

    .nav-section {
        width: 60%;
        margin: 0 auto;
        min-height: 8vh;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-list a{
        color: #111;
        text-decoration: none;
        display: block;
    }

    .nav-list li {
        opacity: 1;
    }

    /* Landing Page - Index - Desktop */
    .index-landing-page {
        min-height: 90vh;
        display: flex;
        background-size: cover;
        flex-direction: row;
        justify-content: center
    }

    .landing-left {
        min-height: 90vh;
        margin-top: 0vh;
        margin-bottom: 0vh;
        width: 30%;
        margin-left: 20%;
        justify-content: center;
    }

    .landing-left img {
        display: none;
    }

    .landing-left form {
        display: block;
    }

    .landing-left button {
        margin-top: 2vh;
    }

    .landing-right {
        min-height: 90vh;
        width: 35%;
        margin-right: 15%;
    }

    .landing-right img {
        height: 88vh;
    }

    .landing-right form {
        display: none;
    }

    /* Shopping Section - Index - Desktop */
    .product {
        width: 20%;
    }

    .deck-section h4 {
        font-size: 1.5rem;
    }

    /* Squad Section - Desktop */
    .squad-banner {
        background-image: url(/img/team/squad-desktop.jpg);
        min-height: 40vh;
        background-position: top;
    }

    .squad-banner {
        min-height: 20vw;
    }

    .squad{
        min-height: 25vw;
        width: 25%;
    }

    .squad h3 {
        display: none;
    }

    .squad:hover h3 {
        display: block;
    }

    /* Footer Section - Desktop */
    footer {
        padding-top: 1rem;
    }

    footer h4 {
        font-size: 1.5rem;
    }


    .socials {
        width: 15%;
    }


    .socials img {
        width: 50%;
    }

    footer p {
        font-size: 1rem;
    }
    
}