@import "../../styling/variables";
@import "../../styling/mixins";

.teamMember {
  width: 80%;
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 1.25vh 0;
  h4 {
    position: absolute;
    bottom: 0.25vh;
    right: 2.5vw;
    color: $white;
    font-size: 1.25rem;
    text-shadow: 0 0 8px $black;
  }
}

@media screen and (min-width: 768px) {
  .teamMember {
    width: 40%;
    height: 25vh;
    margin: 10px;
    h4 {
      font-size: 1.5rem;
      right: 1.25vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .teamMember {
    width: 22.5%;
    height: 50vh;
  }
}
