@import "../../styling/variables";
@import "../../styling/mixins";

.cartItem {
  width: 95%;
  background-color: $white;
  color: $black;
  @include flex(row, space-between, center);
  margin: 0.5vh auto;
  p {
    font-size: 0.8rem;
  }
  figure {
    width: 20%;
    height: 10vh;
    padding: 0.25vh 0.75vw;
    @include flex(column, center, center);
    img {
      height: 9vh;
      width: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .productInfo {
    width: 55%;
    text-align: left;
    padding-left: 2.5%;
    h3 {
      font-size: 1rem;
    }
  }
  .counter {
    width: 20%;
    margin-right: 5%;
    @include flex(row, center, center);
    p,
    button {
      height: 20px;
      min-width: 20px;
      @include flex(column, center, center);
    }
    p {
      padding: 0 1.5vw;
    }
    button {
      color: $white;
      background-color: $black;
      border: none;
      font-size: 0.8rem;
    }
  }
}

@media screen and (min-width: 300px) {
  .cartItem {
    p {
      font-size: 1rem;
    }
    figure {
      height: 10vh;

      img {
        height: 9vh;
      }
    }
    .productInfo {
      h3 {
        font-size: 1.25rem;
      }
    }
    .counter {
      p,
      button {
        height: 25px;
        min-width: 25px;
      }
      button {
        font-size: 1rem;
      }
      p {
        padding: 0 2.5vw;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .cartItem {
    margin: 0vh auto 0.5vh;
    p {
      font-size: 1.25rem;
    }
    figure {
      width: 20%;
      height: 9vh;
      padding: 0.25vh 0.75vw;
      img {
        height: 8vh;
        width: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
    .productInfo {
      width: 55%;
      text-align: left;
      padding-left: 2.5%;
      h3 {
        font-size: 1rem;
      }
    }
    .counter {
      width: 20%;
      margin-right: 5%;
      p,
      button {
        width: 30px;
        height: 30px;
      }
      p {
        font-size: 1.25rem;
      }
      button {
        color: $white;
        background-color: $black;
        border: none;
        font-size: 1.25rem;
      }
    }
  }
}
