@import "../../styling/variables";
@import "../../styling/mixins";

.emptyCart {
  min-height: 60vh;
  @include flex(column, center, center);
  p {
    font-size: 0.8rem;
    margin-top: 1.25vh;
  }

  button {
    margin-top: 5vh;
  }
}

.cartPage {
  .cartDetails {
    padding: 1.25vh 0;
    text-align: center;
    background-color: $lightGray;
    h2 {
      margin: 1.25vh 0;
    }
    P {
      margin: 0 auto;
      width: 80%;
      @include flex(row, space-between, center);
    }
    .total {
      font-weight: 500;
    }
    .checkoutBtn {
      width: 80%;
      margin: 5vh auto 2.5vh;
    }
  }
}

@media screen and (min-width: 300px) {
  .emptyCart {
    p {
      font-size: 1rem;
    }

    button {
      margin-top: 5vh;
    }
  }
}

@media screen and (min-width: 768px) {
  .emptyCart {
    min-height: 40vh;
  }
}
