@import "../../styling/_mixins.scss";
@import "../../styling/_variables.scss";

.backBtn {
  font-size: 0.75rem;
  margin-left: 2.5vw;
}

.itemPage {
  @include flex(column-reverse, flex-end, center);
  padding: 5vh 0 2.5vh;
  .itemImg {
    figure {
      width: 90%;
      margin: 0 auto;
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }
  .itemInfo {
    margin-top: 2.5vh;
    text-align: center;
    h2 {
      font-size: 1.25rem;
    }
    p {
      margin: 0.75vh auto;
    }
  }
  .itemOptions {
    width: 90%;
    margin: 2.5vh auto;
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    img {
      box-shadow: 0px 0px 8px $lightGray;
      padding: 1.25vh 1.25vw;
      margin: 1.25vh 1vw;
      width: 22.5%;
      cursor: pointer;
    }
  }

  .itemSizing {
    width: 90%;
    margin: 2.5vh auto;
    @include flex(row, flex-start, center);
    flex-wrap: wrap;
    .size {
      width: 22.5%;
      padding: 1.5vh 1.25vw;
      margin: 1vw 1vw;
      cursor: pointer;
      p {
        text-transform: uppercase;
        font-size: 0.75rem;
      }
    }
    .sizeAvailable {
      background-color: $white;
      border: 2px solid $lightGray;
      color: $black;
    }
    .sizeUnavailable {
      border: 2px solid $lightGray;
      color: $gray;
      background-color: $lightGray;
    }
  }

  .fomo,
  .cartBtn {
    width: 90%;
    padding: 1.25vh 0;
  }

  .fomo {
    background-color: $yellow;
  }
}

@media screen and (min-width: 300px) {
  .itemPage {
    .itemOptions {
      width: 90%;
    }
    .item {
      div {
        p {
          text-transform: uppercase;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .itemPage {
    @include flex(row-reverse, center, flex-start);
    padding: 2.5vh 0;
    .itemImg {
      min-height: 50vh;
      width: 50%;
      margin-top: 5vh;
    }
    .itemInfo {
      text-align: left;
      width: 35%;
      margin-top: 2.5vh;
      h2 {
        margin-left: 5%;
        font-size: 1.75rem;
      }
      p {
        margin: 0;
        margin-left: 5%;
        margin-bottom: 2.5vh;
        font-size: 1.25rem;
      }
    }
    .itemOptions {
      margin: 1.25vh auto;
      img {
        padding: 0.75vh 0.75vw;
        margin: 0.75vh 0.35vw;
      }
    }

    .itemSizing {
      margin: 1.25vh auto;
      .size {
        text-align: center;
        padding: 0.75vh 0vw;
        margin: 0.5vw 0.35vw;
        p {
          text-transform: uppercase;
          font-size: 0.75rem;
          margin: 0;
        }
      }
    }

    .fomo,
    .cartBtn {
      width: 90%;
      margin: 0;
      margin-top: 1.25vh;
      margin-left: 5%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .backBtn {
    margin: 1.25vh 0 1.25vh 1.25vw;
  }
  .itemPage {
    @include flex(row-reverse, center, center);
    padding: 0;
    .itemImg {
      width: 45%;
      figure {
        width: 70%;
      }
    }
    .itemInfo {
      width: 25%;
      h2 {
        font-size: 2.5rem;
      }
      p {
        margin: 0;
        margin-left: 5%;
        margin-bottom: 2.5vh;
      }
    }
    .itemOptions {
      margin: 2.5vh 0;
      img {
        padding: 0.75vh 0.75vw;
        margin: 2.5vh 0.25vw 1.25vh;
        width: 22.5%;
        cursor: pointer;
      }
    }

    .itemSizing {
      margin: 2.5vh 0;
      .size {
        margin: 0.75vh 0.25vw 0.75vh;
        width: 17.5%;
        p {
          margin: 0;
        }
      }
    }

    .fomo,
    .cartBtn {
      margin-left: 0;
    }
  }
}
