@import "../../styling/mixins";
@import "../../styling/variables";

.shoppingCart {
  position: absolute;
  width: 100%;
  min-height: 80vh;
  top: 8vh;
  right: 0;
  transform: translateX(100%);
  background-color: $black;
  transition: transform 0.25s ease;
  text-align: center;
  color: $white;
  .emptyCart {
    height: 80vh;
  }
  .emptyCart {
    color: $white;
    @include flex(column, center, center);
    p {
      margin-top: -10vh;
    }
    .shopBtn {
      margin-left: 0;
      min-height: auto;
      width: auto;
      font-size: 1rem;
      border-radius: 5px;
      position: static;
      color: white;
      transform: translate(0);
      padding: 1vh 5vw;
      line-height: 1rem;
      margin-top: 5vh;
      background-color: $blue;
    }
  }
}

.shoppingCartActive {
  transform: translateX(0);
}

@media screen and (min-width: 300px) {
  .shoppingCart {
    font-size: 1.25rem;
    .emptyCart {
      button {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .shoppingCart {
    .emptyCart {
      button {
        font-size: 1.25rem;
        padding: 1vh 2.5vw;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .shoppingCart {
    position: absolute;
    width: 30%;
    height: 92vh;
    .emptyCart {
      font-size: 1rem;
      button {
        padding: 1vh 1.25vw;
        font-size: 1rem;
      }
    }
  }
}
